$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
$dark-color:#575757;


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $dark-color;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

// /* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;

//     /* Make the masthead heading the same height as the navigation */
//     h3 {
//         margin-top: 0;
//         margin-bottom: 0;
//         line-height: 40px;
//         padding-bottom: 19px;
//     }
// }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    max-width: 730px;
}

/* Remove the padding we set earlier */
.header,
.footer {
    padding-left: 0;
    padding-right: 0;
}

/* Space out the masthead */
.header {
    margin-bottom: 30px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
    border-bottom: 0;
}

.todo-add-new {
    margin-bottom: 20px;
}

.todos-heading {
    .filter-button {
        //maintain space for border with transparent border
        border-bottom: 5px solid transparent;
        &:hover{
            cursor: pointer;
            border-bottom: 5px solid $dark-color;
        }
    }
}

.todo-items-list {
    //remove padding from top and bottom of todo-items list
    padding-top: 0px;
    padding-bottom: 0px;

    .todo-item {
        border-bottom: 1px solid #E1E1E1;
        &:last-child {
            border-bottom: none;
        }
        input {
            border: none;
            border-left: 3px solid red;
        }
        &:hover .glyphicon-pencil {
            visibility: visible;
            &:hover {
                cursor: pointer;
            }
        }
        .glyphicon-pencil {
        //get the glyphicons inline with text
            line-height: inherit;
            padding-left: 5px;
            visibility: hidden;
            width: 27px;

        }
        &.completed>.todo-title {
            text-decoration: line-through;
        }
    }
}